.main-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-headig{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 50%;
  table-layout: fixed;
 
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}